<%= form_for(@item, :html => {:class => 'simple_options_form'}) do |f| %>
<div class="itemAdd_form">
  <table><tbody>
  <tr><td class="caption"><%= t("new_"+@item.class.name) %>:</td>
      <td><div class="inp_w">
          <%= f.text_field :name, :class => 'txt' %>
	  <span class="sub btn_a button" id="btn-send"> Добавить</span>
      </td></tr>
  </tbody></table>

<% end %>